<!DOCTYPE html>
<html>

<head>
    <title>Welcome {{username}}</title>
    <link rel="stylesheet" type="text/css" href="/hub.css">
</head>

<body>
    <header id="upper_menus">
        <div>Hello, user {{username}}</div>
        <div id="options">
        Options
        <div class="dropdown-content">
                <div id="add">Add Contact</div>
                <div id="update">Edit Profile</div>
                <div id="logout">Logout</div>
            </div>
        </div>
    </header>
    
    <div id="addContact" class="modal">
        <div class="modal-content">
            <input type="text" placeholder="First Name" class="modalInput" id="fname"/><br/>
            <input type="text" placeholder="Last Name" class="modalInput" id="lname"/><br/>
            <input type="text" placeholder="Phone Number" class="modalInput" id="a_phone"/><br/>
            <input type="text" placeholder="Address" class="modalInput" id="a_address"/><br/>
            <iframe id="a_updateRev" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBo7uKcrJKGkcPuoKgo-Si-pNHAHE4V-5U&q=555+seymour+Street" allowfullscreen>
            </iframe><br/>
            <button id="a_view" class="modalButton">View</button><br/>
            <button id="add_contact" class="modalButton">Add Contact</button>
        </div>
    </div>
    
    <div id="updateInfo" class="modal">
        <div class="modal-content">
            <input type="text" placeholder="Phone Number" class="modalInput" id="u_phone"/><br/>
            <input type="text" placeholder="Address" class="modalInput" id="u_address"/><br/>
            <iframe id="u_updateRev" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBo7uKcrJKGkcPuoKgo-Si-pNHAHE4V-5U&q=555+seymour+Street" allowfullscreen>
            </iframe><br/>
            <button id="u_view" class="modalButton">View</button><br/>
            <button id="update_info" class="modalButton">Update</button>
        </div>
    </div>

    <div id="left_selection">
        {{#each sel}}
        <div class="left_options" id="{{this.id_name}}_button">
            <img class="left_opt_img" src="{{this.img_source}}" />
            <div class="left_opt_name">{{this.opt_name}}</div>
        </div>
        {{/each}}
    </div>

    {{#each sel}}


    <div class="right_window" id="{{this.id_name}}">
        {{{this.layout}}} <!-- Triple squiggy for displaying the stuff-->
    </div>

    {{#if this.script}}
        <script src="{{this.script}}"></script>
    {{/if}}

    {{/each}}
    <script src="/hub.js"></script>
</body>

</html>