{{#each contact}}
<div class="contacts" id="{{this.fname}}_{{this.lname}}">
	{{this.fname}} {{this.lname}}
	<div class="cont_info" id="{{this.fname}}_{{this.lname}}_info">

		<div class="cont_p_number">
		Phone Number<br>
		{{this.p_number}}
		</div>

		<div class="cont_location">
            {{this.location}} <br>
            <iframe width="500" height="240" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBo7uKcrJKGkcPuoKgo-Si-pNHAHE4V-5U&q={{this.location}}" allowfullscreen>
            </iframe>        
		</div>

	</div>

</div>
{{/each}}
